################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LearnAPI/Migrations/20240310095536_addedd two language ka and en on this models 
/LearnAPI/Migrations/20240310095904_adedd two language ka and en on this models 
